@import "components/components.css";
@import "components/animation.css";

@import "screens/main.css";
@import "screens/list_ctr.css";
@import "screens/page2.css";
* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}
