.page {
  width: 300px;
  height: 650px;
  background-color: white;
  border-radius: 30px;
  margin: 100px;
  padding: 35px 20px 5px 20px;
}

.statusbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  opacity: 0.8;
}
