.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 30px;
  box-shadow: 0 14px 28px rgb(70, 107, 230);
}

.main img:hover {
  animation: boom 1s ease-in-out;
  will-change: transform;
  transform: scale(1.5);
  box-shadow: 0 14px 50px rgb(70, 107, 230);
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-text h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.main-text span {
  font-size: 10px;
  opacity: 0.6;
  font-weight: 500;
}

.main-button {
  display: flex;
  margin: 20px 0 30px 0;
}

.main-button button {
  width: 100px;
  height: 35px;
  border-radius: 17px;
  margin: 5px;
  box-shadow: 0 14px 30px 5px rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.05);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.fa-heart {
  margin: 3px;
}

.main-button button:first-child:focus {
  background-color: black;
  color: white;
  animation: bounce 1s ease-in-out;
}

.main-button button:last-child:focus {
  background-color: tomato;
  color: white;
  animation: heart 1s ease-in-out;
}
