.page-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-2_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-2_main img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin: 50px 0;
  box-shadow: 0px 15px 15px rgb(209, 184, 41);
}

.page-2_main img:hover {
  animation: boom2 1s ease-in-out infinite;
  will-change: transform;
  transform: scale(1.1);
  box-shadow: 0 14px 50px rgb(209, 184, 41);
}

.page-2_main h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-2_main span {
  font-size: 15px;
  opacity: 0.6;
  font-weight: 500;
}

.page-2_play_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin: 45px 0 10px 0;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.3;
}

.page-2_play_bar:hover {
  animation: playBar 0.5s ease-in-out forwards;
}

.page-2_play_bar {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-2_play_bar div:first-child {
  height: 3px;
  width: 150px;
  border-radius: 1.5px;
  background-color: black;
}

.page-2_play_bar div:nth-child(2) {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: black;
}

.page-2_play_bar div:last-child {
  height: 3px;
  width: 90px;
  border-radius: 1.5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.page-2_ctr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  width: 100%;
}

.page-2_ctr > i:first-child,
.page-2_ctr > i:last-child {
  opacity: 0.4;
}

.play_arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.play_arrow:hover {
  animation: playBtn 1s ease-in-out forwards;
  will-change: transform;
}

.page-2_ctr i {
  border-radius: 50%;
}

.page-2_ctr i:hover {
  animation: playBtn2 1s ease-in-out forwards;
  will-change: transform;
}
